<% content_for :head do %>
  <%= Gon::Base.render_data(namespace: 'env') %>
<% end %>

<% content_for :packs do %>
  <%#= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'hello_react' %>
<% end %>

<h1>Search</h1>

<%#= react_component('Search') %>

<form>
  <ul>
    <li>
      <ul>
        <li>
          <label>For When You’re Away</label>
          <ul>
            <li>
              <label for="input_overnight-boarding">Dog Boarding</label>
              <input id="input_overnight-boarding" type="radio" name="service" value="overnight-boarding" />
            </li>
            <li>
              <label for="input_overnight-traveling">House Sitting</label>
              <input id="input_overnight-traveling" type="radio" name="service" value="overnight-traveling" />
            </li>
            <li>
              <label for="input_drop-in">Drop-In Visits</label>
              <input id="input_drop-in" type="radio" name="service" value="drop-in" />
            </li>
          </ul>
        </li>
        <li>
          <label>For When You’re At Work</label>
          <ul>
            <li>
              <label for="input_doggy-day-care">Doggy Day Care</label>
              <input id="input_doggy-day-care" type="radio" name="service" value="doggy-day-care" />
            </li>
            <li>
              <label for="input_dog-walking">Dog Walking</label>
              <input id="input_dog-walking" type="radio" name="service" value="dog-walking" />
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <ul>
        <li>
          <label for="input_address">Dog Boarding near</label>
          <input id="input_address" type="text" name/>
        </li>
        <li>

        </li>
      </ul>
    </li>
  </ul>
</form>
